# Requirements for the project
beautifulsoup4
Django==5.1.4
django-taggit==5.0.1
gmpy2
lief
olefile==0.47
oletools==0.60.1
opencv-python==4.9.0.80
pandas==2.1.2
pdfminer
pdfminer.six
pefile==2023.2.7
prettytable==3.9.0
pillow
pycryptodome==3.20.0
PyExifTool==0.5.6
PyMuPDF==1.24.9
PyPDF2==3.0.1
python-dateutil==2.8.2
python-dotenv
pyzipper==0.3.6
py7zr==0.21.0
requests==2.32.3
shodan==1.30.1
tabulate==0.9.0
tldextract==5.3.0
yara-python==4.5.0
