<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="vault Malware Analysis">
    <meta name="keywords" content="vault,malware,analysis">
    <title>{% block title %}Vault1337{% endblock %}</title>
    {% load static %}
    {% load i18n %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/png/favicon.png' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="{% static 'vault/css/vault.css' %}"> <!-- Custom CSS -->  
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #353E43;">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "images/logos/svg/white-logo-no-background.svg" %}" width="200" height="auto" alt="vault"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/vault/' %}active{% endif %}" href="{% url 'vault_table' %}">Vault</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/ioc/' %}active{% endif %}" href="{% url 'ioc_table' %}">IOCs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/yara/' %}active{% endif %}" href="{% url 'yara' %}">YARA</a>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Welcome, {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile_view' %}">{% translate "Profile" %}</a>
                            {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url 'api_key_manager' %}">{% translate "Manage API Keys" %}</a>
                            {% endif %}
                            <a class="dropdown-item" href="#" id="logout-link">{% translate "Log out" %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:none;">
                {% csrf_token %}
            </form>            
            {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_signup' %}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
    <br>
    <footer class="footer">
        <div class="container">
                <script>                
                    var myElem = document.createElement("p");
                    myElem.innerHTML = 'Vault1337 | Malware Analysis | Copyright &copy; ' + new Date().getFullYear() + ' - <a href="https://github.com/DanDreadless/Vault1337/blob/main/LICENSE">AGPL-3.0</a>';
                    myElem.style.textAlign = "center"; // Center the text horizontally
                    myElem.style.margin = "0 auto";    // Center the element itself horizontally
                    document.body.appendChild(myElem);
                </script>
        </div>
    </footer>
    <script>    
    document.getElementById('logout-link').addEventListener('click', function(e) {
        e.preventDefault();  // Prevent the default link behavior
        document.getElementById('logout-form').submit();  // Submit the form
    });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script><!-- Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script><!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/bootstrap-table.min.js"></script>
    <script src="{% static 'vault/js/tools_dropdown.js' %}"></script> <!-- Custom JS -->
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.0/dist/purify.min.js"></script> <!-- DOMPurify -->
    {% block js %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
