<!-- upload_success.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Vault1337{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% if file_name %}
    <h2>File Uploaded Successfully!</h2>
    <p> Sample SHA256: <a href="{% url 'sample_detail' sha256=file_name %}">{{ file_name }}</a></p>
{% endif %}
{% if webpage %}
    <br>
    <p> URL: {{webpage}}</p>
{% endif %}
{% if QR_Data %}
    <h2>QR Code Decoded Successfully!</h2>
    <p> Data: {{ QR_Data }}</p>
{% endif %}

{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to vault</h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}