{% extends 'base.html' %}

{% block title %}Vault1337{% endblock %}

{% block content %}

    <div class="about container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">About Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Firstly, I would like to shout out the <a href="https://github.com/viper-framework">Viper-Framework</a> who has been the main inspiration /
                motivation for this project. I have been using Viper for a while now and I love it. I wanted to build on the idea and taylor it for my own needs.
                This project is also a way for me to learn more about Python and the Django web framework. I have used python for scripting and API integratoins but never 
                really had the time to learn Django.</p>

                <p>It is my hope that this project will be useful to others and that it will grow into something that is useful to the community. 
                    I would one day love to host this project online but before that happens I need to make sure the code is secure enough that I don't get hacked in 10 seconds!</p>
                <p>Created by DanDreadless - <a href="https://github.com/DanDreadless/Vault1337">Project Source Code</a></p>
                <p>The project documentation can be found here -> <a href="https://www.vault1337.com/" target="_blank">Vault1337.com</a></p>
            </div>
        </div>
    </div>
{% endblock %}
