{% extends 'base.html' %}

{% block title %}Vault1337{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">About Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Firstly, I would like to shout out the <a href="https://github.com/viper-framework">Viper-Framework</a> who has been the main inspiration /
                motivation for this project. I have been using Viper for a while now and I love it. I wanted to build on the idea and taylor it for my own needs.
                This project is also a way for me to learn more about Python and Django. I have been using Python for a while but never really had the time 
                to put into learning Django.</p>
            </div>
        </div>
    </div>
{% endblock %}