{% extends 'base.html' %}
{% load static %}
{% block title %}Vault1337{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br>
<!-- GET WEBPAGE -->
<form class="index row gx-3 gy-2 align-items-center" method="post" action="{% url 'get_webpage' %}">
    {% csrf_token %}
    <div class="col-auto">
        <button class="btn btn-danger" type="submit">GET URL</button>
    </div>
    <div class="col-auto">
        <div class="input-group">    
            <div class="input-group-text">URL:</div>
            <input type="text" class="form-control" placeholder="https://example.com" id="url" name="url" required>
        </div>  
    </div>
    <div class="col-auto">
        <div class="input-group">
            <div class="input-group-text">Tags:</div>
            <input type="text" class="form-control" id="tags" name="tags" placeholder="tag1,tag2">
        </div>
    </div>
</form>
<br>
<!-- UPLOAD FILE -->
<form class="index row gx-3 gy-2 align-items-center" method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
    {% csrf_token %}
    <div class="col-auto">
        <button class="btn btn-danger" type="submit">Upload File</button>
    </div>
    <div class="col-auto">
        <input class="input-group-text" type="file" id="file" name="file" accept=".zip, .7z, .txt, .pdf, .doc, .docx, .xls, .xlsx, .pptx, .exe" required>
    </div>
    <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">Tags:</div>
          <input type="text" class="form-control" id="tags" name="tags" placeholder="tag1,tag2">
        </div>
    </div>
    <div class="col-auto">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="unzip-box" name="unzip">
            <label class="form-check-label" for="unzip-box">
              Unzip
            </label>
          </div>
    </div>
    <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">Password:</div>
          <input type="text" class="form-control" id="password" name="password" placeholder="infected">
        </div>
    </div>
</form>
<br>
<!-- MB Download -->
<form class="index row gx-3 gy-2 align-items-center" method="post" action="{% url 'mb_download' %}">
    {% csrf_token %}
    <div class="col-auto">
        <button class="btn btn-danger" type="submit">Malware Bazaar</button>
    </div>
    <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">SHA256:</div>
          <input type="text" class="form-control" id="sha256" name="sha256" placeholder="Paste Hash Here" required>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">Tags:</div>
          <input type="text" class="form-control" id="tags" name="tags" placeholder="tag1,tag2">
        </div>
    </div>
</form>
<br>
<!-- VT Download -->
<form class="index row gx-3 gy-2 align-items-center" method="post" action="{% url 'vt_download' %}">
    {% csrf_token %}
    <div class="col-auto">
        <button class="btn btn-danger" type="submit">Virus Total</button>
    </div>
    <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">SHA256:</div>
          <input type="text" class="form-control" id="sha256" name="sha256" placeholder="Paste Hash Here" required>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">Tags:</div>
          <input type="text" class="form-control" id="tags" name="tags" placeholder="tag1,tag2">
        </div>
    </div>
    <div class="col-auto">**This requires a Virus Total Enterprise license**</div>
</form>
<br>
<form class="index row gx-3 gy-2 align-items-center" method="post" action="{% url 'ip_check' %}">   
    {% csrf_token %}
    <div class="col-auto">
        <button class="btn btn-danger" type="submit">Check IP</button>
    </div>
    <div class="col-auto">
        <div class="input-group">
          <div class="input-group-text">IP:</div>
          <input type="text" class="form-control" id="ip" name="ip" placeholder="127.0.0.1" required>
        </div>
    </div>
    <div class="col-auto">Checks AbuseIPDB, SPUR and Virus Total</div>
</form>
<br>
<p>Number of samples in the vault: {{ num_entries }}</p>

{% else %}

<h1 class="text-center">Welcome to the Vault</h1>
<img class="loggedout" src="{% static "images/background/neon_vault.jpg" %}" alt="Vault1337">

{% endif %}
{% endblock %}