{% extends 'base.html' %}
{% load static %}
{% block title %}Vault1337{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Under Construction</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center><img src="{% static "images/logos/png/under_construction.png" %}" width="200" height="auto" alt="vault"></center>
            </div>
        </div>
    </div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Welcome to vault</h1>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}