{% extends 'base.html' %}
{% load static %}
{% block title %}Vault1337{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="index" method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
                {% csrf_token %}

                <!-- Input for file selection -->
                <label class="index" for="file">Select File:</label>
                <input class="index" type="file" id="file" name="file" accept=".txt, .pdf, .doc, .docx, .exe" required>

                <br>

                <!-- Input for tags (optional) -->
                <label class="index" for="tags">Tags (comma-separated):</label>
                <input class="index" type="text" id="tags" name="tags">

                <br>

                <!-- Submit button -->
                <button class="index" type="submit">Upload File</button>
            </form>
        </div>
        <div class="col">
            <form class="index" method="post" action="{% url 'get_webpage' %}">
                {% csrf_token %}
                <label class="index" for="urlInput">Enter the URL:</label>
                <input class="index" type="text" id="url" name="url" placeholder="https://example.com" required>
                <br>
                <label class="index" for="tags">Tags (comma-separated):</label>
                <input class="index" type="text" id="tags" name="tags">
                <button class="index" type="submit">GET URL</button>
            </form>
        </div>
        <div class="col">
            <form class="index" method="post" action="{% url 'vt_download' %}">
                {% csrf_token %}
                <label class="index" for="urlInput">Enter SHA256:</label>
                <input class="index" type="text" id="sha256" name="sha256" placeholder="e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" required>
                <br>
                <label class="index" for="tags">Tags (comma-separated):</label>
                <input class="index" type="text" id="tags" name="tags">
                <button class="index" type="submit">Download from VT</button>
            </form>
        </div>
    </div>
</div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Welcome to vault</h1>
                <img class="index" src="{% static "images/background/neon_vault.jpg" %}" alt="Vault1337">
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}