{% extends 'base.html' %}

{% block title %}IP Reputation Results{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <br>
    <h1>IP Check Results for {{ ip }}</h1>
    <br>
    <!-- AbuseIPDB -->
    <h2>AbuseIPDB</h2>
    <table class="table table-striped">
        <tr>
            <th>Is Public</th>
            <td>{{ ip_data.data.isPublic }}</td>
        </tr>
        <tr>
            <th>IP Version</th>
            <td>{{ ip_data.data.ipVersion }}</td>
        </tr>
        <tr>
            <th>Is Whitelisted</th>
            <td>{{ ip_data.data.isWhitelisted }}</td>
        </tr>
        <tr>
            <th>Abuse Confidence Score</th>
            <td>{{ ip_data.data.abuseConfidenceScore }}</td>
        </tr>
        <tr>
            <th>Country Code</th>
            <td>{{ ip_data.data.countryCode }}</td>
        </tr>
        <tr>
            <th>Usage Type</th>
            <td>{{ ip_data.data.usageType }}</td>
        </tr>
        <tr>
            <th>ISP</th>
            <td>{{ ip_data.data.isp }}</td>
        </tr>
        <tr>
            <th>Domain</th>
            <td>{{ ip_data.data.domain }}</td>
        </tr>
        {% if ip_data.data.hostnames %}
        <tr>
            <th>Hostnames</th>
            <td>
                <ul>
                    {% for hostname in ip_data.data.hostnames %}
                        <li>{{ hostname }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>Is Tor</th>
            <td>{{ ip_data.data.isTor }}</td>
        </tr>
        <tr>
            <th>Total Reports</th>
            <td>{{ ip_data.data.totalReports }}</td>
        </tr>
        <tr>
            <th>Number of Distinct Users</th>
            <td>{{ ip_data.data.numDistinctUsers }}</td>
        </tr>
        <tr>
            <th>Last Reported At</th>
            <td>{{ ip_data.data.lastReportedAt }}</td>
        </tr>
    </table>
    <br>
    <!-- SPUR -->
    <h2>Spur</h2>
    <table class="table table-striped">
        {% if spur_data.as.number %}
        <tr>
            <th>AS Number</th>
            <td>{{ spur_data.as.number }}</td>
        </tr>
        {% endif %}
        {% if spur_data.as.organization %}
        <tr>
            <th>AS Organization</th>
            <td>{{ spur_data.as.organization }}</td>
        </tr>
        {% endif %}
        {% if spur_data.infrastructure %}
        <tr>
            <th>Infrastructure</th>
            <td>{{ spur_data.infrastructure }}</td>
        </tr>
        {% endif %}
        {% if spur_data.risks %}
        <tr>
            <th>Risks</th>
            <td>
                <ul>
                    {% for risk in spur_data.risks %}
                        <li>{{ risk }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if spur_data.services %}
        <tr>
            <th>Services</th>
            <td>
                <ul>
                    {% for service in spur_data.services %}
                        <li>{{ service }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if spur_data.client.behaviors %}
        <tr>
            <th>Client Behaviors</th>
            <td>
                <ul>
                    {% for behavior in spur_data.client.behaviors %}
                        <li>{{ behavior }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if spur_data.client.proxies %}
        <tr>
            <th>Client Proxies</th>
            <td>
                <ul>
                    {% for proxy in spur_data.client.proxies %}
                        <li>{{ proxy }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if spur_data.client.types %}
        <tr>
            <th>Client Types</th>
            <td>
                <ul>
                    {% for type in spur_data.client.types %}
                        <li>{{ type }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if spur_data.client.concentration.city or spur_data.client.concentration.country or spur_data.client.concentration.density or spur_data.client.concentration.geohash or spur_data.client.concentration.skew or spur_data.client.concentration.state %}
        <tr>
            <th>Client Concentration</th>
            <td>
                <ul>
                    {% if spur_data.client.concentration.city %}
                    <li>City: {{ spur_data.client.concentration.city }}</li>
                    {% endif %}
                    {% if spur_data.client.concentration.country %}
                    <li>Country: {{ spur_data.client.concentration.country }}</li>
                    {% endif %}
                    {% if spur_data.client.concentration.density %}
                    <li>Density: {{ spur_data.client.concentration.density }}</li>
                    {% endif %}
                    {% if spur_data.client.concentration.geohash %}
                    <li>Geohash: {{ spur_data.client.concentration.geohash }}</li>
                    {% endif %}
                    {% if spur_data.client.concentration.skew %}
                    <li>Skew: {{ spur_data.client.concentration.skew }}</li>
                    {% endif %}
                    {% if spur_data.client.concentration.state %}
                    <li>State: {{ spur_data.client.concentration.state }}</li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if spur_data.client.counts %}
        <tr>
            <th>Client Count</th>
            <td>{{ spur_data.client.count }}</td>
        </tr>
        {% endif %}
        {% if spur_data.client.countries %}
        <tr>
            <th>Client Countries</th>
            <td>{{ spur_data.client.countries }}</td>
        </tr>
        {% endif %}
        {% if spur_data.client.spread %}
        <tr>
            <th>Client Spread</th>
            <td>{{ spur_data.client.spread }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Location</th>
            <td>
                <ul>
                    {% if spur_data.location.city %}
                    <li>City: {{ spur_data.location.city }}</li>
                    {% endif %}
                    {% if spur_data.location.country %}
                    <li>Country: {{ spur_data.location.country }}</li>
                    {% endif %}
                    {% if spur_data.location.state %}
                    <li>State: {{ spur_data.location.state }}</li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% if spur_data.tunnels %}
        <tr>
            <th>Tunnels</th>
            <td>
                <ul>
                    {% for tunnel in spur_data.tunnels %}
                        <li>
                            Anonymous: {{ tunnel.anonymous }}
                            <ul>
                                {% if tunnel.entries %}
                                <li>Entries: {{ tunnel.entries|join:", " }}</li>
                                {% endif %}
                                {% if tunnel.exits %}
                                <li>Exits: {{ tunnel.exits|join:", " }}</li>
                                {% endif %}
                                {% if tunnel.operator %}
                                <li>Operator: {{ tunnel.operator }}</li>
                                {% endif %}
                                {% if tunnel.type %}
                                <li>Type: {{ tunnel.type }}</li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
    </table>
    <br>
    {% load date_filters %}
    <!-- Virus Total -->
    <h2>VirusTotal</h2>
    <!-- Display links -->
    <p>More Information: <a href="https://www.virustotal.com/gui/ip-address/{{ ip }}" target="_blank">View on VirusTotal</a></p>
    <!-- Display basic information in a table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% if vt_data.data.attributes.country %}
            <tr>
                <td>Country</td>
                <td>{{ vt_data.data.attributes.country }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.network %}
            <tr>
                <td>Network</td>
                <td>{{ vt_data.data.attributes.network }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.regional_internet_registry %}
            <tr>
                <td>Regional Internet Registry</td>
                <td>{{ vt_data.data.attributes.regional_internet_registry }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.as_owner %}
            <tr>
                <td>AS Owner</td>
                <td>{{ vt_data.data.attributes.as_owner }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.continent %}
            <tr>
                <td>Continent</td>
                <td>{{ vt_data.data.attributes.continent }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.asn %}
            <tr>
                <td>ASN</td>
                <td>{{ vt_data.data.attributes.asn }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.last_analysis_date %}
            <tr>
                <td>Last Analysis Date</td>
                <td>{{ vt_data.data.attributes.last_analysis_date | format_date  }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.last_modification_date %}
            <tr>
                <td>Last Modification Date</td>
                <td>{{ vt_data.data.attributes.last_modification_date | format_date  }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.reputation is not None %}
            <tr>
                <td>Reputation</td>
                <td>{{ vt_data.data.attributes.reputation }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- Display analysis stats in a table -->
    <h3>Last Analysis Stats</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% if vt_data.data.attributes.last_analysis_stats.malicious %}
            <tr>
                <td>Malicious</td>
                <td>{{ vt_data.data.attributes.last_analysis_stats.malicious }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.last_analysis_stats.suspicious %}
            <tr>
                <td>Suspicious</td>
                <td>{{ vt_data.data.attributes.last_analysis_stats.suspicious }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.last_analysis_stats.undetected %}
            <tr>
                <td>Undetected</td>
                <td>{{ vt_data.data.attributes.last_analysis_stats.undetected }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.last_analysis_stats.harmless %}
            <tr>
                <td>Harmless</td>
                <td>{{ vt_data.data.attributes.last_analysis_stats.harmless }}</td>
            </tr>
            {% endif %}
            
            {% if vt_data.data.attributes.last_analysis_stats.timeout %}
            <tr>
                <td>Timeout</td>
                <td>{{ vt_data.data.attributes.last_analysis_stats.timeout }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- Display analysis results in a table
    <h3>Last Analysis Results</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Engine Name</th>
                <th>Category</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for engine, result in vt_data.data.attributes.last_analysis_results.items %}
            <tr>
                <td>{{ result.engine_name }}</td>
                <td>{{ result.category }}</td>
                <td>{{ result.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->

    <!-- Display Whois information -->
    <div class="about container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Whois Information</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <pre>{{ vt_data.data.attributes.whois }}</pre>
            </div>
        </div>
    </div>


{% else %}
    <h1>Access Denied</h1>
    <li>You need to be authenticated to access this page.</li>
{% endif %}
{% endblock %}
