{% extends 'base.html' %}
{% load static %}
{% block title %}Vault1337{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br>
<!-- Add a search form -->
<form method="GET" action="{% url 'vault_table' %}">
    <div class="input-group">
        <div class="input-group-text">Search:</div>
        <input type="text" id="search" name="search" placeholder="Enter filename or tag" value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</form>
<br>
<table class="table table-striped table-sm" border="1" align="center">
    <thead class="thead-light">
        <tr>
            <th>Submission Date</th>
            <th>Filename</th>
            <th>sha256</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in vault %}
            <tr>
                <td>{{ item.created_date }}</td>
                <td>{{ item.name }}</td>
                <td><a href="{% url 'sample_detail' item_id=item.id %}">{{ item.sha256 }}</a></td>
                <td>
                    {% if item.tag.all %}
                        {% for tag in item.tag.all %}
                        <span class="badge rounded-pill bg-danger">#{{ tag }}</span>
                        {% endfor %}
                    {% else %}
                        No tags
                    {% endif %}
                </td>
                <td>
                    <select class="form-select" onchange="handleAction(this.value, '{{ item.sha256 }}', '{{ item.id }}')">
                        <option value="">Select an action</option>
                        <option value="check_vt">Check VT</option>
                        <option value="download">Download Sample</option>
                        <option value="delete">Delete</option>
                    </select>
                    <form id="form-delete-{{ item.id }}" method="POST" action="{% url 'delete_item' item.id %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Pagination controls -->
<div class="pagination-container text-center">
    <nav aria-label="Vault pagination">
        <ul class="pagination justify-content-center">
            {% if vault.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ vault.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for num in vault.paginator.page_range %}
                <li class="page-item {% if vault.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a>
                </li>
            {% endfor %}

            {% if vault.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ vault.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- Tag Cloud -->
<div class="mt-4">
    <h3>Tag Cloud</h3>
    {% if tag_frequencies %}
        {% for tag_freq in tag_frequencies %}
            <a href="{% url 'vault_table' %}?search={{ tag_freq.tag__name }}">
                <span class="badge rounded-pill bg-danger">#{{ tag_freq.tag__name }} ({{ tag_freq.count }})</span>
            </a>
        {% endfor %}
    {% else %}
        No tags found.
    {% endif %}
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to vault</h1>
        </div>
    </div>
</div>
{% endif %}

<script>
    function handleAction(action, sha256, itemId) {
        if (action === "check_vt") {
            window.open(`https://www.virustotal.com/gui/file/${sha256}`, '_blank');
        } else if (action === "delete") {
            document.getElementById(`form-delete-${itemId}`).submit();
        } else if (action === "download") {
            window.location.href = `{% url 'download_zipped_sample' item_id=0 %}`.replace('0', itemId);
        }
    }
</script>
{% endblock %}
