{% extends 'base.html' %}
{% load static %}
{% block title %}Vault1337{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Run Tool</button>
</form>
<br>
<table class="table table-striped" border="1" align="center">
    <tbody>
        <tr>
            <th>Submission Date</th>
            <td>{{ item.created_date }}</td>
        </tr>
        <tr>
            <th>Filename</th>
            <td>{{ item.name }}</td>
        </tr>
        <tr>
            <th>Size (bytes)</th>
            <td>{{ item.size }}</td>
        </tr>
        <tr>
            <th>Magic Byte</th>
            <td>{{ item.magic }}</td>
        </tr>
        <tr>
            <th>Mime Type</th>
            <td>{{ item.mime }}</td>
        </tr>
        <tr>
            <th>MD5</th>
            <td>{{ item.md5 }}</td>
        </tr>
        <tr>
            <th>sha1</th>
            <td>{{ item.sha1 }}</td>
        </tr>
        <tr>
            <th>sha256</th>
            <td>{{ item.sha256 }}</td>
        </tr>
        <tr>
            <th>sha512</th>
            <td>{{ item.sha512 }}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>{{ item.tag }}</td>
        </tr>
    </tbody>
</table>
{% if form_output %}
<h3>Tool Output</h3>
<textarea rows="20" cols="160" readonly>{{ form_output }}</textarea>
{% endif %}
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to vault</h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}