form.index {
  /* max-width: 400px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label.index {
  display: block;
  margin-bottom: 8px;
}

input.index[type="file"], input.index[type="text"], button.index {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #bd363a;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#logout-form {
  display: inline;
  margin: 0 auto;
  padding: 20px;
}
#logout-form button {
  background: none;
  color: #bd363a;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

img.loggedout {
  max-width: auto;
  height: 30em;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.login-form-container {
  width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

div.about {
  /* max-width: 400px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output-box {
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  border: 4px #8f0000 solid;
  height: 500px;
  margin: auto;
  display: block;
  font-size: 90%;
  width: 100%;
}
.table-responsive {
  overflow-y: visible !important;
}