body {
  margin: 0;
  padding: 0;
  background-color: #353E43;
  font-family: Arial, sans-serif;
  color: #ffffff;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #353E43;
  color: white;
  text-align: center;
  padding: 10px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-link {
  color: #ffffff !important;
}
.nav-link:hover {
  color: #bd363a !important;
}
.nav-link.active {
  color: #bd363a !important;
}
.container-fluid {
  margin-top: 70px; /* Adjust this value based on the height of your navbar */
  padding: 15px;
  /* overflow-y: auto; */
  /* height: calc(100vh - 70px); 100vh minus the height of your navbar */
}
.dropdown-item {
  color: #000000;
}
.dropdown-item:hover {
  color: #ffffff;
  background-color: #bd363a;
}
.pagination .page-link {
  background-color: #353E43;
  color: #fff;
  border-color: #353E43;
}

.pagination .page-item.active .page-link {
  background-color: #ffffffbe;
  color: #000000;
  border-color: #ffffffbe;
}

.pagination .page-link:hover {
  background-color: #ffffffbe;
  color: #000000;
}
.filename-cell {
  max-width: 19em; /* Adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  table a {
    color: #000000;
    font-weight: bold;
  }
  table a:hover {
    color: #bd363a;
    text-decoration: none;
  }

a {
  color: #000000;
  font-weight: bold;
}
a:hover {
  color: #ffffffbe;
  text-decoration: none;
}
form.index {
  /* max-width: 400px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #97a1a7;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
li.ioc {
  line-height: 1em;
}
label.index {
  display: block;
  margin-bottom: 8px;
}

input.index[type="file"], input.index[type="text"], button.index {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #bd363a;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#logout-form {
  display: inline;
  margin: 0 auto;
  padding: 20px;
}
#logout-form button {
  background: none;
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

img.loggedout {
  max-width: auto;
  height: 30em;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.login-form-container {
  width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

div.about {
  /* max-width: 400px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #97a1a7;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output-box {
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 500px;
  margin: auto;
  display: block;
  font-size: 90%;
  width: 100%;
}

table {
  background-color: #ffffff;
}
.table-responsive {
  overflow-y: visible !important;
}
pre.whois {
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre.tool-output {
  white-space: pre-wrap;
  word-wrap: break-word;
}
textarea.tool-output {
  padding: 10px;
}
.badge {
  font-size: 0.9em;
  color: white;
}
.btn_custom {
  min-width: 150px;
  max-width: 150px;
}
.ig_custom {
  min-width: 100px;
  max-width: 100px;
}
.ib_custom {
  min-width: 250px;
  max-width: 250px;
}
.fu_custom {
  min-width: 310px;
  max-width: 310px;
}
.tp_fp_custom {
  min-width: 80px;
  max-width: 80px;
}
.tp_fp_dropdown_custom {
  min-width: 200px;
  max-width: 200px;
}
.api_custom {
  min-width: 200px;
  max-width: 200px;
}
.form-control#id_VT_KEY {
  min-width: 500px;
  max-width: 500px;
}
.form-control#id_MALWARE_BAZAAR_KEY {
  min-width: 500px;
  max-width: 500px;
}
.form-control#id_ABUSEIPDB_KEY {
  min-width: 500px;
  max-width: 500px;
}
.form-control#id_SPUR_KEY {
  min-width: 500px;
  max-width: 500px;
}
.form-control#id_SHODAN_KEY {
  min-width: 500px;
  max-width: 500px;
}
/* Style for the modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay effect */
}

.modal-content {
  background-color: #97a1a7;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Adjust width as needed */
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
